body {
    background-color: wheat;
}

.LoginForm {
    background-color: whitesmoke;
    width: 33.3%;
    position: absolute;
    top: 33.3%;
    left: 33.3%;
    border: thin groove red;
    border-radius: 5%;
    padding: 10px;
    animation-name: ZoomOut;
    animation-duration: 0.6s;
}

.LoginForm legend {
    color: teal;
}

.LoginForm input {
    font-size: 18px;
}

button {
    font-size: 18px;
}

button:hover {
    cursor: pointer;
}

@keyframes ZoomOut {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}